.auth-content {
    background-color: #e2e2e2;
    padding: 20px 0;
    height: calc(100vh - 69px);

    .auth {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;

        &__header {
            margin-bottom: 10px;
            text-align: center;

            .heading {
                font-size: 35px;
                font-weight: 600;
            }
        }

        &__body {
            .sec-left {
                .image {
                    height: 190px;
                    margin-bottom: 15px;
                }

                .hotline {
                    height: 40px;
                    margin-bottom: 15px;
                }
            }

            .sec-right {
                padding: 50px 0;

                .form-content {
                    .form-group {
                        margin-bottom: 25px;

                        .form-control {
                            padding: 8px 18px;
                            background-color: #f7f9fc;
                        }

                        .link {
                            margin-top: 7.5px;
                            color: #c5cee0;
                            // font-size: 12px;
                        }
                    }

                    // .box-button {
                    //     display: flex;
                    //     justify-content: space-around;
                    //     align-items: center;

                    //     .btn {
                    //         display: block;
                    //         width: 200px;
                    //         margin: 0 25px;
                    //     }
                    // }
                }

                &.sec-register {
                    padding: 0;
                    margin-bottom: 30px;
                }
            }
        }

        .box-button {
            display: flex;
            justify-content: center;
            align-items: center;

            .btn {
                display: block;
                width: 200px;
                margin: 0 25px;

                @include respond (max-414) {
                    width: 100%;
                    margin: 0 0 15px 0;
                }
            }

            @include respond (max-414) {
                display: unset;
            }

        }

        &__footer {
            .text {
                text-align: center;
                font-size: 16px;
            }
        }
    }

    @include respond (max-414) {
        height: auto;
    }
}