.header-auth-content {
    background-color: #59595c;

    .header-auth {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;

        &__left {
            .logo {
                img {
                    height: 30px;
                }
            }

            .slogan {
                color: $color-f;
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase;
                margin-left: 50px;
            }
        }

        &__right {}
    }

}