.introduce-banner {
    // background-image: url("img/gioi-thieu-chung.jpg");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-image: linear-gradient(#796b168c), url(img/about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}