.intro-content {
    padding: 50px 0 25px 0;

    .intro {
        .intro-left {
            margin-top: -300px;
            padding: 30px;
            background-color: $color-sec;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);

            svg {
                font-size: 50px;
            }

            .heading {
                font-size: 48px;
                font-weight: 600;
                margin-bottom: 30px;

                @include respond (max-414) {
                    font-size: 35px;
                }
            }

            .desc {
                p {
                    font-size: 18px;
                    text-align: justify;
                }
            }

            @include respond (max-414) {
                margin-top: -0px;
                padding: 15px;
            }
        }

        .intro-right {
            padding: 0 0 0 25px;

            * {
                font-size: 18px;
            }

            .title {
                margin-bottom: 20px;

                strong {
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }

            p {
                margin-bottom: 10px;
                text-align: justify;
            }

            ul {
                list-style: unset;
                padding-left: 35px;
            }

            @include respond (max-414) {
                padding: 25px 0 0 0;
            }
        }
    }

    @include respond (max-414) {
        padding: 15px 0;
    }
}