.process-content {
    padding: 50px 0 20px 0;
    background-color: #fcfcfc;

    .process {
        &__header {
            text-align: center;
            margin-bottom: 50px;

            .heading {
                font-size: 32px;
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        &__body {
            .row {
                >div {
                    margin-bottom: 30px;
                }
            }

            .process-item {
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);

                &__thumb {
                    .image {
                        height: 200px;
                    }
                }

                &__info {
                    padding: 10px 20px;
                    background-color: #fff;

                    .title {
                        font-size: 24px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    .sub-title {
                        font-size: 18px;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        height: 81px;
                    }
                }
            }
        }
    }
}