.target-content {
    background-color: $color-sec;
    padding: 50px 0;

    .target {
        text-align: center;

        &__heading {
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        &__sub-heading {
            font-size: 36px;
            font-weight: 500;
        }
    }
}