.value-content {
    padding: 50px 0 0 0;
    // background-image: url("img/bg-core-value.jpg");
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;

    .value {
        &__header {
            text-align: center;

            .heading {
                font-size: 36px;
                font-weight: 600;
                padding: 40px 100px 20px 100px;
                display: inline-block;
                border-top: 1px solid $color-sec;

                @include respond (max-414) {
                    font-size: 30px;
                    padding: 40px 20px 0 20px;
                }
            }
        }

        &__body {
            background-image: url("img/bg-core-value.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 50px 0 30px;

            .row {
                >div {
                    margin-bottom: 30px;
                }
            }

            .value-item {
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);

                &__thumb {
                    position: relative;

                    .image {
                        height: 200px;
                    }

                    .overlay {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0%;
                        left: 0%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        font-weight: 600;
                        font-size: 36px;
                    }
                }

                &__info {
                    padding: 20px;
                    background-color: #fff;
                    text-align: center;

                    .desc {
                        font-size: 18px;
                        color: $color-pri;
                    }
                }
            }
        }
    }
}