@charset "UTF-8";
@font-face {
  font-family: 'SFD-Regular';
  src: url("fonts/SFPro-Display-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fas';
  src: url("fonts/fontawesome-5.11.2/webfonts/fa-brands-400.ttf") format("truetype");
  src: url("fonts/fontawesome-5.11.2/webfonts/fa-regular-400.ttf") format("truetype");
  src: url("fonts/fontawesome-5.11.2/webfonts/fa-solid-900.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

html,
body {
  min-height: 100%;
}

body {
  color: #2F302F;
}

* {
  font-family: 'SFD-Regular';
  font-size: 14px;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.row:before,
.row:after {
  -webkit-display: none !important;
  -moz-display: none !important;
  -o-display: none !important;
  -ms-display: none !important;
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
select,
button,
.btn,
span {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

.img-cover {
  display: block;
  width: 100%;
  height: 100%;
}

.img-cover img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-scaledown {
  display: block;
  width: 100%;
  height: 100%;
}

.img-scaledown img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.img-fill {
  display: block;
  width: 100%;
  height: 100%;
}

.img-fill img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.img-contain {
  display: block;
  width: 100%;
  height: 100%;
}

.img-contain img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img-none {
  display: block;
  width: 100%;
  height: 100%;
}

.img-none img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}

/* ----------------------- Hiệu ứng hover ảnh ----------------------- */
.img-flash,
.img-shine {
  position: relative;
  overflow: hidden;
}

.img-circle:before,
.img-shine:before {
  content: '';
  display: block;
}

.img-circle,
.img-flash,
.img-shine,
.img-slide,
.img-zoomin,
.img-zoomout {
  overflow: hidden;
}

.img-flash:hover > * {
  opacity: 1;
  -webkit-animation: imgFlash 1.5s;
  animation: imgFlash 1.5s;
}

@-webkit-keyframes imgFlash {
  0% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes imgFlash {
  0% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}

.img-shine:before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 100;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.img-shine:hover:before {
  -webkit-animation: imgShine .75s ease-in-out;
  animation: imgShine .75s ease-in-out;
}

@-webkit-keyframes imgShine {
  100% {
    left: 125%;
  }
}

@keyframes imgShine {
  100% {
    left: 125%;
  }
}

.img-circle {
  position: relative;
}

.img-circle:before {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  z-index: 10;
  opacity: 0;
  background: rgba(255, 255, 255, 0.3);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.img-slide,
.img-slide > *,
.img-zoomin,
.img-zoomin > *,
.img-zoomout,
.img-zoomout > *,
[class*=img-caption] {
  position: relative;
}

.img-circle:hover:before {
  -webkit-animation: circle .75s infinite;
  animation: circle .75s infinite;
}

@-webkit-keyframes circle {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

@keyframes circle {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}

.img-zoomin > * {
  -webkit-transition: transform .4s ease-in-out;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
}

.img-zoomin:hover > * {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.img-slide > * {
  left: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.img-slide:hover > * {
  left: -10px;
}

.img-zoomout > * {
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.img-zoomout:hover > * {
  -webkit-transform: scale(1);
  transform: scale(1);
}

[class*=img-caption] {
  display: block;
  overflow: hidden;
}

[class*=img-caption] .image {
  display: block;
  position: relative;
  font-size: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

[class*=img-caption] > .info {
  display: block;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  background: white;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.img-caption-bottom > .info {
  visibility: hidden;
  opacity: 0;
  top: initial;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.img-caption-bottom:hover > .info {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.img-caption-bottom:hover > .image {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.img-caption-top > .info {
  opacity: 0;
  top: 0;
  bottom: initial;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.img-caption-top:hover > .info {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.img-caption-top:hover > .image {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

[class*=img-push] {
  display: block;
  overflow: hidden;
  position: relative;
}

[class*=img-push] .image {
  display: block;
  position: relative;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

[class*=img-push] .info {
  display: block;
  position: absolute;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: white;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.img-push-up .info {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.img-push-down .info,
.img-push-up:hover .image {
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.img-push-down:hover .image {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.img-push-left .info {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

.img-push-left:hover .image,
.img-push-right .info {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

.img-push-right:hover .image {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}

[class*=img-push]:hover .info {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

@-webkit-keyframes hotline-shake {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

@keyframes hotline-shake {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
  }
}

@-webkit-keyframes btn-blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes btn-blink {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}

/* ----------------------- End Hiệu ứng hover ảnh ----------------------- */
.btn {
  padding: 8px;
}

.btn.btn-sec {
  background-color: #FCD804;
}

.btn.btn-sec:hover {
  color: #fff !important;
}

.btn.btn-bas {
  background-color: #fff;
}

.btn.btn-bas:hover {
  color: #FCD804 !important;
}

.btn.btn-dar {
  color: #FCD804;
  background-color: #212529;
}

.btn.btn-dar:hover {
  color: #212529;
  background-color: #FCD804;
}

.row.row-mg-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.row.row-mg-0 .col-pd-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.active-pc {
  display: block !important;
}

@media (max-width: 414px) {
  .active-pc {
    display: none !important;
  }
}

.active-mb {
  display: none !important;
}

@media (max-width: 414px) {
  .active-mb {
    display: block !important;
  }
}

.dp-block {
  display: block !important;
}

.dp-none {
  display: none !important;
}

.header-pc-content {
  background-color: #FCD804;
  padding: 8px 0;
}

.header-pc-content .header-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-pc-content .header-pc__common .item {
  color: #2F302F;
  display: inline-block;
}

.header-pc-content .header-pc__common .item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #2F302F;
}

.header-mb #menu-container .panel-head-mb {
  padding: 15px 15px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2F302F;
}

.header-mb #menu-container .panel-head-mb #menu-wrapper {
  overflow: hidden;
  max-width: 100%;
  cursor: pointer;
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu {
  position: relative;
  width: 25px;
  height: 20px;
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu span {
  opacity: 1;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  color: white;
  background-color: white;
  position: absolute;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu span:nth-child(1) {
  top: 0;
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu span:nth-child(2) {
  top: 9px;
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu span:nth-child(3) {
  top: 18px;
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu.open span:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(135deg);
          transform: translateY(9px) rotate(135deg);
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu.open span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.header-mb #menu-container .panel-head-mb #menu-wrapper #hamburger-menu.open span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-135deg);
          transform: translateY(-9px) rotate(-135deg);
}

.header-mb #menu-container .panel-head-mb .logo-mb .image {
  height: 25px;
}

.header-mb #menu-container .panel-head-mb .button,
.header-mb #menu-container .panel-head-mb .btn {
  padding: 0;
  font-size: 14px;
  color: white;
}

.header-mb #menu-container .panel-head-mb .button:hover,
.header-mb #menu-container .panel-head-mb .btn:hover {
  outline: none;
  background-color: transparent;
}

.header-mb #menu-container .panel-head-mb .logout-mb .logout-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-mb #menu-container .panel-head-mb .logout-mb .logout-content .avatar {
  margin-right: 10px;
}

.header-mb #menu-container .panel-head-mb .logout-mb .logout-content .avatar .image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header-mb #menu-container .panel-head-mb .logout-mb .logout-content .box-logout a {
  color: #fff;
  font-size: 12px;
}

.header-mb #menu-container .panel-head-mb .logout-mb.logout-index .box-logout a {
  color: #fff;
}

.header-mb #menu-container .panel-head-mb .logout-mb.logout-index .box-logout a:hover {
  color: #FCD804;
}

.header-mb #menu-container .panel-body-mb .menu-list {
  padding-left: 0;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 450px;
  background: white;
  z-index: 999;
  overflow-y: auto;
  overflow-x: hidden;
  left: -100%;
}

.header-mb #menu-container .panel-body-mb .menu-list li.search-mb {
  position: relative;
  padding: 15px 15px 15px 15px;
  border-bottom: 1px solid #dbdcd2;
}

.header-mb #menu-container .panel-body-mb .menu-list li.search-mb svg {
  position: absolute;
  top: 24px;
  left: 25px;
}

.header-mb #menu-container .panel-body-mb .menu-list li.search-mb .input-search {
  width: 100%;
  padding: 7.5px 10px 7.5px 40px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle {
  font-size: 16px;
  margin: 0 15px;
  padding: 15px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #dbdcd2;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle .menu-link {
  color: #000;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle.accordion-toggle {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  letter-spacing: 1px;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle.accordion-toggle.active-tab {
  background: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle.accordion-toggle a:before, .header-mb #menu-container .panel-body-mb .menu-list li.toggle.accordion-toggle a:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 15px;
  height: 2px;
  margin-top: -1px;
  background-color: #5a5858;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle.accordion-toggle a:before {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1;
  z-index: 2;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle.accordion-toggle a.active:before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  background: #5a5858 !important;
}

.header-mb #menu-container .panel-body-mb .menu-list li.toggle.accordion-toggle a.active:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background: #5a5858 !important;
  opacity: 0;
}

.header-mb #menu-container .panel-body-mb .menu-list li.menu-active-mb .menu-link {
  color: #FCD804;
}

.header-mb #menu-container .panel-body-mb .menu-list .menu-submenu {
  margin: 0 40px;
}

.header-mb #menu-container .panel-body-mb .menu-list .menu-submenu.accordion-content {
  display: none;
}

.header-mb #menu-container .panel-body-mb .menu-list .menu-submenu li {
  padding: 10px;
  border-bottom: 1px solid #dbdcd2;
}

.header-mb #menu-container .panel-body-mb .menu-list .menu-submenu li .head {
  color: #000;
}

.header-mb #menu-container .panel-body-mb .menu-list .flag-list {
  padding: 15px;
}

.footer {
  padding: 50px 0 20px 0;
}

@media (max-width: 414px) {
  .footer .row > div {
    margin-bottom: 35px;
  }
}

.footer .footer-contact .logo {
  margin-bottom: 15px;
}

.footer .footer-contact .logo .image {
  width: 130px;
  margin-bottom: 10px;
}

.footer .footer-contact .list-contact {
  margin-bottom: 15px;
}

.footer .footer-contact .list-contact .contact {
  margin-bottom: 5px;
}

.footer .footer-contact .copyright {
  margin-bottom: 0;
}

.footer .footer-common__title {
  font-weight: 600;
  border-bottom: 3px solid #FCD804;
  padding-bottom: 3px;
  margin-bottom: 15px;
}

.footer .footer-common__menu .footer-menu {
  display: block;
  color: #343A40;
}

.footer .footer-common__menu .footer-menu:hover {
  color: #FCD804;
}

.footer .footer-common__menu .footer-menu:not(:last-child) {
  margin-bottom: 10px;
}

.footer .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.footer .footer-social .icon img {
  display: inline-block !important;
  height: 33px;
  width: 33px;
  margin-right: 20px;
}

.footer .form-input {
  margin-bottom: 15px;
}

.footer .form-input input {
  border: 1px solid #FCD804;
  border-radius: 5px;
  width: 100%;
  padding: 10px 8px;
}

.footer .thumb-os {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-content {
  background-color: #222;
}

.navigation-content .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-content .navigation__left .logo {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
}

.navigation-content .navigation__center .menu-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-content .navigation__center .menu-main .menu-child-pri {
  position: relative;
}

.navigation-content .navigation__center .menu-main .menu-child-pri__title {
  color: #fff;
  font-size: 17px;
  padding: 30px 0;
  display: block;
  border-bottom: 3px solid #222;
}

.navigation-content .navigation__center .menu-main .menu-child-pri__sub {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 250px;
}

.navigation-content .navigation__center .menu-main .menu-child-pri__sub .menu-child-sec__title {
  display: block;
  color: #fff;
  padding: 8px 10px;
  border-bottom: 1px solid #FCD804;
  background-color: #2f302f;
}

.navigation-content .navigation__center .menu-main .menu-child-pri__sub .menu-child-sec__title:hover {
  background-color: #222;
}

.navigation-content .navigation__center .menu-main .menu-child-pri:hover .menu-child-pri__title {
  border-bottom: 3px solid #FCD804;
}

.navigation-content .navigation__center .menu-main .menu-child-pri:hover .menu-child-pri__sub {
  display: block;
}

.navigation-content .navigation__center .menu-main .menu-child-pri:not(:last-child) {
  margin-right: 30px;
}

.navigation-content .navigation__right {
  padding: 8px 0;
}

.navigation-content .navigation__right .btn {
  width: 250px;
  color: #2F302F;
  display: block;
}

.navigation-content .navigation__right .btn:first-child {
  margin-bottom: 5px;
}

.banner-content .thumb {
  position: relative;
  background-image: url(img/banner-2.jpg);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000c7)), url(img/banner-2.jpg);
  background-image: linear-gradient(#000000c7), url(img/banner-2.jpg);
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.banner-content .thumb .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner-content .thumb .overlay .heading {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

@media (max-width: 414px) {
  .banner-content .thumb .overlay .heading {
    font-size: 35px;
    margin-bottom: 30px;
  }
}

.banner-content .thumb .overlay .sub-heading {
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 22px;
  text-align: center;
}

.banner-content .thumb .overlay .service-list {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner-content .thumb .overlay .service-list .service {
  width: 160px;
  height: 120px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.banner-content .thumb .overlay .service-list .service:before {
  position: absolute;
  content: '';
  bottom: 100%;
  background-color: #E5E5E5;
  height: 28px;
  width: 160px;
  left: 0px;
}

@media (max-width: 414px) {
  .banner-content .thumb .overlay .service-list .service:before {
    width: 110px;
    left: 0;
  }
}

.banner-content .thumb .overlay .service-list .service .service-link {
  padding: 20px;
  text-align: center;
}

.banner-content .thumb .overlay .service-list .service .service-link .icon {
  margin: 0 auto 15px auto;
  text-align: center;
}

.banner-content .thumb .overlay .service-list .service .service-link .icon-pri {
  display: block;
}

.banner-content .thumb .overlay .service-list .service .service-link .icon-sec {
  display: none;
}

.banner-content .thumb .overlay .service-list .service .service-link span {
  color: #2F302F;
}

@media (max-width: 414px) {
  .banner-content .thumb .overlay .service-list .service .service-link span {
    font-size: 12px;
  }
}

@media (max-width: 414px) {
  .banner-content .thumb .overlay .service-list .service .service-link {
    padding: 0;
  }
}

.banner-content .thumb .overlay .service-list .service:nth-child(2) {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
}

.banner-content .thumb .overlay .service-list .service:nth-child(2):before {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

@media (max-width: 414px) {
  .banner-content .thumb .overlay .service-list .service:nth-child(2) {
    height: 110px;
  }
}

.banner-content .thumb .overlay .service-list .service:hover {
  background-color: #FCD804;
}

.banner-content .thumb .overlay .service-list .service:hover .icon-pri {
  display: none;
}

.banner-content .thumb .overlay .service-list .service:hover .icon-sec {
  display: block;
}

@media (max-width: 414px) {
  .banner-content .thumb .overlay .service-list .service {
    width: 110px;
    height: 110px;
  }
}

@media (max-width: 414px) {
  .banner-content .thumb .overlay .service-list {
    margin-bottom: 5px;
  }
}

.banner-content .thumb .overlay .form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.banner-content .thumb .overlay .form-search .input-text {
  padding: 8px 12px;
  width: 500px;
  height: 42px;
  margin-right: 10px;
}

@media (max-width: 414px) {
  .banner-content .thumb .overlay .form-search .input-text {
    width: 250px;
    margin-right: 0px;
  }
}

.banner-content .thumb .overlay .form-search .btn {
  height: 42px;
  border-radius: 0;
  width: 100px;
}

.banner-content .thumb .overlay .guider p {
  margin-bottom: 0px;
  color: #fff;
  font-size: 12px;
}

.service-content .service-list {
  margin-bottom: 15px;
}

.service-content .service-list .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-content .service-list .col-lg-3 .service {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  position: relative;
}

.service-content .service-list .col-lg-3 .service .service-link {
  text-align: center;
  padding: 0 15px;
}

.service-content .service-list .col-lg-3 .service .service-link .icon {
  margin: 0 auto 15px auto;
  text-align: center;
}

.service-content .service-list .col-lg-3 .service .service-link .icon-pri {
  display: block;
}

.service-content .service-list .col-lg-3 .service .service-link .icon-sec {
  display: none;
}

.service-content .service-list .col-lg-3 .service .service-link span {
  color: #2F302F;
}

.service-content .service-list .col-lg-3 .service:hover {
  background-color: #fcdf36;
}

.service-content .service-list .col-lg-3 .service:hover .icon-pri {
  display: none;
}

.service-content .service-list .col-lg-3 .service:hover .icon-sec {
  display: block;
}

@media (max-width: 414px) {
  .service-content .service-list .col-lg-3 .service {
    border-bottom: 1px solid #ccc;
  }
}

.service-content .service-list .col-lg-3:not(:last-child) .service:before {
  position: absolute;
  content: '';
  right: 0;
  top: 20px;
  height: 106px;
  width: 1px;
  background-color: #ccc;
}

@media (max-width: 414px) {
  .service-content .service-list .col-lg-3:not(:last-child) .service:before {
    display: none;
  }
}

.service-content .service-list .col-lg-3:not(:last-child) .service:hover:before {
  background-color: #fcdf36;
}

.service-content .service-text {
  text-align: center;
}

.service-content .service-text svg {
  font-size: 30px;
  margin-bottom: 10px;
}

.service-content .service-text p {
  font-size: 18px;
}

.service-content .service-text p strong {
  font-size: 18px;
}

.hotline-content {
  padding: 50px 0;
  text-align: center;
  background-image: url("img/homepage/hotline-bg.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hotline-content .heading {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 10px;
}

@media (max-width: 414px) {
  .hotline-content .heading {
    font-size: 25px;
  }
}

.hotline-content .sub-heading-1 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

.hotline-content .sub-heading-2 {
  font-size: 20px;
  color: #FCD804;
  margin-bottom: 30px;
}

.hotline-content .toolbox .btn {
  margin: 0 15px;
  width: 350px;
  font-size: 18px;
  padding: 10px;
}

.hotline-content .toolbox .btn svg {
  margin-right: 10px;
}

@media (max-width: 414px) {
  .hotline-content .toolbox .btn {
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
  }
}

.partner {
  background-color: #f6f6f6;
}

.partner .image {
  height: 100px;
}

.about-content {
  padding: 30px 0;
  background-color: #2F302F;
}

@media (max-width: 414px) {
  .about-content .container {
    padding: 0;
  }
}

.about-content .about {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-content .about-left {
  text-align: center;
}

.about-content .about-left .heading {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.about-content .about-left .heading span {
  color: #FCD804;
  font-size: 24px;
  font-weight: 600;
}

.about-content .about-left .sub-heading {
  color: #fff;
  font-size: 15px;
  margin-bottom: 50px;
}

.about-content .about-left .item-list .item {
  margin-bottom: 30px;
}

.about-content .about-left .item-list .item .thumb {
  margin-bottom: 15px;
}

.about-content .about-left .item-list .item .thumb .image {
  height: 100px;
}

.about-content .about-left .item-list .item .info {
  color: #fff;
  font-size: 16px;
}

.about-content .about-left .box-button .btn {
  font-size: 17px;
  width: 200px;
}

.about-content .about-left .box-button .btn svg {
  margin-left: 15px;
}

@media (max-width: 414px) {
  .about-content .about-left {
    background: #2F302F;
    padding: 15px;
  }
}

.about-content .about-right {
  padding-left: 50px;
}

.about-content .about-right .item-list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-content .about-right .item-list .item .icon {
  margin-right: 15px;
}

.about-content .about-right .item-list .item .icon img {
  border-radius: 50%;
}

.about-content .about-right .item-list .item .info .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

@media (max-width: 414px) {
  .about-content .about-right .item-list .item .info .title {
    font-size: 18px;
  }
}

.about-content .about-right .item-list .item .info .desc p {
  font-size: 17px;
  margin-bottom: 0px;
}

@media (max-width: 414px) {
  .about-content .about-right .item-list .item .info .desc p {
    font-size: 14px;
  }
}

.about-content .about-right .item-list .item:not(:last-child) {
  margin-bottom: 25px;
}

@media (max-width: 414px) {
  .about-content .about-right {
    padding: 15px;
    background-color: #FCD804;
  }
}

@media (max-width: 414px) {
  .about-content {
    background: #fff;
  }
}

.data-content {
  padding: 50px 0;
}

.data-content .data .item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-content .data .item-list .item {
  text-align: center;
}

.data-content .data .item-list .item .number {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 10px;
}

@media (max-width: 414px) {
  .data-content .data .item-list .item .number {
    margin-bottom: 0;
  }
}

.data-content .data .item-list .item .text {
  font-size: 24px;
}

@media (max-width: 414px) {
  .data-content .data .item-list .item {
    margin-bottom: 50px;
  }
}

@media (max-width: 414px) {
  .data-content .data .item-list {
    display: unset;
  }
}

@media (max-width: 414px) {
  .data-content {
    padding: 25px 0;
  }
}

.feedback-content {
  margin-bottom: 15px;
}

.feedback-content .feedback__header {
  text-align: center;
  margin-bottom: 50px;
}

.feedback-content .feedback__header .heading {
  font-size: 24px;
  display: inline-block;
  border-top: 1px solid #d5d5d5;
  padding: 48px 0;
  position: relative;
}

.feedback-content .feedback__header .heading strong {
  font-size: 24px;
}

.feedback-content .feedback__header .heading:before {
  position: absolute;
  content: '';
  background-color: #FCD804;
  width: 25%;
  height: 9px;
  top: -4.5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 414px) {
  .feedback-content .feedback__header {
    margin-bottom: 0px;
  }
}

.feedback-content .feedback__body .item {
  position: relative;
  z-index: 1;
}

.feedback-content .feedback__body .item .circle {
  position: absolute;
  content: '';
  left: 50%;
  top: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: transparent;
  border: 15px solid #fff;
  border-radius: 50%;
  width: 215px;
  height: 215px;
  z-index: 999;
  -webkit-box-shadow: 1px 1px 15px 1px #fff;
          box-shadow: 1px 1px 15px 1px #fff;
}

.feedback-content .feedback__body .item .thumb {
  position: absolute;
  left: 50%;
  top: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
}

.feedback-content .feedback__body .item .thumb .image {
  height: 215px;
}

.feedback-content .feedback__body .item .info {
  background-color: #FCD804;
  padding: 250px 15px 15px 15px;
  min-height: 360px;
}

.feedback-content .feedback__body .item .info .title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}

.feedback-content .feedback__body .item .info .sub-title {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
}

.feedback-content .feedback__body .item .info .desc {
  min-height: 220px;
  font-size: 16px;
  margin-bottom: 0;
  text-align: justify;
}

.feedback-content .feedback__body .item:hover .circle {
  -webkit-box-shadow: 1px 1px 15px 1px #fcd804;
          box-shadow: 1px 1px 15px 1px #fcd804;
}

.header-auth-content {
  background-color: #59595c;
}

.header-auth-content .header-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.header-auth-content .header-auth__left .logo img {
  height: 30px;
}

.header-auth-content .header-auth__left .slogan {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 50px;
}

.auth-content {
  background-color: #e2e2e2;
  padding: 20px 0;
  height: calc(100vh - 69px);
}

.auth-content .auth {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.auth-content .auth__header {
  margin-bottom: 10px;
  text-align: center;
}

.auth-content .auth__header .heading {
  font-size: 35px;
  font-weight: 600;
}

.auth-content .auth__body .sec-left .image {
  height: 190px;
  margin-bottom: 15px;
}

.auth-content .auth__body .sec-left .hotline {
  height: 40px;
  margin-bottom: 15px;
}

.auth-content .auth__body .sec-right {
  padding: 50px 0;
}

.auth-content .auth__body .sec-right .form-content .form-group {
  margin-bottom: 25px;
}

.auth-content .auth__body .sec-right .form-content .form-group .form-control {
  padding: 8px 18px;
  background-color: #f7f9fc;
}

.auth-content .auth__body .sec-right .form-content .form-group .link {
  margin-top: 7.5px;
  color: #c5cee0;
}

.auth-content .auth__body .sec-right.sec-register {
  padding: 0;
  margin-bottom: 30px;
}

.auth-content .auth .box-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-content .auth .box-button .btn {
  display: block;
  width: 200px;
  margin: 0 25px;
}

@media (max-width: 414px) {
  .auth-content .auth .box-button .btn {
    width: 100%;
    margin: 0 0 15px 0;
  }
}

@media (max-width: 414px) {
  .auth-content .auth .box-button {
    display: unset;
  }
}

.auth-content .auth__footer .text {
  text-align: center;
  font-size: 16px;
}

@media (max-width: 414px) {
  .auth-content {
    height: auto;
  }
}

.search-content {
  background-image: url("img/bg-taodonhang.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
}

.search-content .search__header {
  text-align: center;
  margin-bottom: 50px;
}

.search-content .search__header .heading {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}

@media (max-width: 414px) {
  .search-content .search__header .heading {
    font-size: 24px;
  }
}

@media (max-width: 414px) {
  .search-content .search__header {
    margin-bottom: 25px;
  }
}

.search-content .search__body {
  background-color: #fff;
  padding: 20px;
}

.search-content .search__body .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.search-content .search__body .label {
  font-size: 18px;
  margin-bottom: 5px;
}

@media (max-width: 414px) {
  .search-content .search__body .label {
    display: inline-block;
  }
}

.search-content .search__body .info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

.search-content .search__body .info-list .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-content .search__body .info-list .info .form-control {
  width: 100px;
  margin: 0 15px;
}

@media (max-width: 414px) {
  .search-content .search__body .info-list .info .form-control {
    width: 80%;
    margin: 0 5px 0 0;
    display: inline-block;
  }
}

@media (max-width: 414px) {
  .search-content .search__body .info-list .info {
    display: block;
    margin-bottom: 15px;
  }
}

@media (max-width: 414px) {
  .search-content .search__body .info-list {
    display: unset;
  }
}

.search-content .search__body .box-button {
  text-align: center;
}

.search-content .search__body .box-button .btn {
  width: 125px;
  font-size: 18px;
}

.search-content .search__body .method-list {
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  grid-gap: 2px;
}

.search-content .search__body .method-list .method {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.search-content .search__body .method-list .method img {
  display: block;
  text-align: center;
  margin: 0 auto;
  height: 40px;
}

.search-content .search__body .method-list .method .text {
  display: block;
  font-size: 12px;
  text-align: center;
  height: 40px;
  color: #2F302F;
}

.search-content .search__body .method-list .method:hover {
  border: 1px solid #FCD804;
}

.search-content .search__body .method-list .method:hover .text {
  color: #FCD804;
}

@media (max-width: 414px) {
  .search-content .search__body .method-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 414px) {
  .search-content {
    padding: 25px 0;
  }
}

.introduce-banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#796b168c)), url(img/about.jpg);
  background-image: linear-gradient(#796b168c), url(img/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.intro-content {
  padding: 50px 0 25px 0;
}

.intro-content .intro .intro-left {
  margin-top: -300px;
  padding: 30px;
  background-color: #FCD804;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.intro-content .intro .intro-left svg {
  font-size: 50px;
}

.intro-content .intro .intro-left .heading {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 30px;
}

@media (max-width: 414px) {
  .intro-content .intro .intro-left .heading {
    font-size: 35px;
  }
}

.intro-content .intro .intro-left .desc p {
  font-size: 18px;
  text-align: justify;
}

@media (max-width: 414px) {
  .intro-content .intro .intro-left {
    margin-top: -0px;
    padding: 15px;
  }
}

.intro-content .intro .intro-right {
  padding: 0 0 0 25px;
}

.intro-content .intro .intro-right * {
  font-size: 18px;
}

.intro-content .intro .intro-right .title {
  margin-bottom: 20px;
}

.intro-content .intro .intro-right .title strong {
  text-transform: uppercase;
  font-weight: 600;
}

.intro-content .intro .intro-right p {
  margin-bottom: 10px;
  text-align: justify;
}

.intro-content .intro .intro-right ul {
  list-style: unset;
  padding-left: 35px;
}

@media (max-width: 414px) {
  .intro-content .intro .intro-right {
    padding: 25px 0 0 0;
  }
}

@media (max-width: 414px) {
  .intro-content {
    padding: 15px 0;
  }
}

.target-content {
  background-color: #FCD804;
  padding: 50px 0;
}

.target-content .target {
  text-align: center;
}

.target-content .target__heading {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 5px;
}

.target-content .target__sub-heading {
  font-size: 36px;
  font-weight: 500;
}

.process-content {
  padding: 50px 0 20px 0;
  background-color: #fcfcfc;
}

.process-content .process__header {
  text-align: center;
  margin-bottom: 50px;
}

.process-content .process__header .heading {
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}

.process-content .process__body .row > div {
  margin-bottom: 30px;
}

.process-content .process__body .process-item {
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.process-content .process__body .process-item__thumb .image {
  height: 200px;
}

.process-content .process__body .process-item__info {
  padding: 10px 20px;
  background-color: #fff;
}

.process-content .process__body .process-item__info .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.process-content .process__body .process-item__info .sub-title {
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 81px;
}

.value-content {
  padding: 50px 0 0 0;
}

.value-content .value__header {
  text-align: center;
}

.value-content .value__header .heading {
  font-size: 36px;
  font-weight: 600;
  padding: 40px 100px 20px 100px;
  display: inline-block;
  border-top: 1px solid #FCD804;
}

@media (max-width: 414px) {
  .value-content .value__header .heading {
    font-size: 30px;
    padding: 40px 20px 0 20px;
  }
}

.value-content .value__body {
  background-image: url("img/bg-core-value.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 30px;
}

.value-content .value__body .row > div {
  margin-bottom: 30px;
}

.value-content .value__body .value-item {
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.value-content .value__body .value-item__thumb {
  position: relative;
}

.value-content .value__body .value-item__thumb .image {
  height: 200px;
}

.value-content .value__body .value-item__thumb .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 36px;
}

.value-content .value__body .value-item__info {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

.value-content .value__body .value-item__info .desc {
  font-size: 18px;
  color: #2F302F;
}
/*# sourceMappingURL=style.css.map */