@mixin respond($breakpoint) {

	// HD+ 1600 * 900	
	@if $breakpoint==max-1600 {
		@media (max-width: 1600px) {
			@content
		}

		;
	}

	// HD+ 1440 * 720
	@if $breakpoint==max-1440 {
		@media (max-width: 1440px) {
			@content
		}

		;
	}

	// HD 1366 * 768 
	@if $breakpoint==max-1366 {
		@media (max-width: 1366px) {
			@content
		}

		;
	}	

	// ---------- laptop ----------

	// extra large xl
	@if $breakpoint==min-1200 {
		@media (min-width: 1200px) {
			@content
		}

		;
	}

	// large lg
	@if $breakpoint==min-992 {
		@media (min-width: 992px) {
			@content
		}

		;
	}

	// medium md
	@if $breakpoint==min-768 {
		@media (min-width: 768px) {
			@content
		}

		;
	}

	// small sm
	@if $breakpoint==min-576 {
		@media (min-width: 576px) {
			@content
		}

		;
	}

	// mobile
	@if $breakpoint==mobile {
		@media (max-width: 575px) {
			@content
		}

		;
	}

	// mb 414 iphone 678+
	@if $breakpoint==max-414 {
		@media (max-width: 414px) {
			@content
		}

		;
	}

	// mb 375 iphone x, xs, 678
	@if $breakpoint==max-375 {
		@media (max-width: 375px) {
			@content
		}

		;
	}

	// @include respond (max-xxx) {

	// }
}