@font-face {
	font-family: 'SFD-Regular';
	src:
		// url('fonts/SanFranciscoDisplay-Regular.otf') format('truetype');
		url('fonts/SFPro-Display-Regular.otf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fas';
	src: url('fonts/fontawesome-5.11.2/webfonts/fa-brands-400.ttf') format('truetype');
	src: url('fonts/fontawesome-5.11.2/webfonts/fa-regular-400.ttf') format('truetype');
	src: url('fonts/fontawesome-5.11.2/webfonts/fa-solid-900.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

/////////////////////////////////////////////////////////////////////////////////////////

html,
body {
	min-height: 100%;
	// background: #fff;
}

body {
	color: $color-pri;
}

* {
	font-family: 'SFD-Regular';
	font-size: 14px;
}

*,
:before,
:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

.row:before,
.row:after {
	-webkit-display: none !important;
	-moz-display: none !important;
	-o-display: none !important;
	-ms-display: none !important;
	display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	line-height: 1;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input,
select,
button,
.btn,
span {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

.img-cover {
	display: block;
	width: 100%;
	height: 100%
}

.img-cover img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover
}

.img-scaledown {
	display: block;
	width: 100%;
	height: 100%
}

.img-scaledown img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: scale-down
}

.img-fill {
	display: block;
	width: 100%;
	height: 100%
}

.img-fill img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: fill
}

.img-contain {
	display: block;
	width: 100%;
	height: 100%
}

.img-contain img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain
}

.img-none {
	display: block;
	width: 100%;
	height: 100%
}

.img-none img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: none
}

/* ----------------------- Hiệu ứng hover ảnh ----------------------- */
.img-flash,
.img-shine {
	position: relative;
	overflow: hidden
}

.img-circle:before,
.img-shine:before {
	content: '';
	display: block
}

.img-circle,
.img-flash,
.img-shine,
.img-slide,
.img-zoomin,
.img-zoomout {
	overflow: hidden
}

.img-flash:hover>* {
	opacity: 1;
	-webkit-animation: imgFlash 1.5s;
	-o-animation: imgFlash 1.5s;
	animation: imgFlash 1.5s
}

@-webkit-keyframes imgFlash {
	0% {
		opacity: .6
	}

	100% {
		opacity: 1
	}
}

@-moz-keyframes imgFlash {
	0% {
		opacity: .6
	}

	100% {
		opacity: 1
	}
}

@keyframes imgFlash {
	0% {
		opacity: .6
	}

	100% {
		opacity: 1
	}
}

.img-shine:before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 100;
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .5) 100%);
	-webkit-transform: skewX(-25deg);
	-ms-transform: skewX(-25deg);
	-o-transform: skewX(-25deg);
	transform: skewX(-25deg)
}

.img-shine:hover:before {
	-webkit-animation: imgShine .75s ease-in-out;
	-o-animation: imgShine .75s ease-in-out;
	animation: imgShine .75s ease-in-out
}

@-webkit-keyframes imgShine {
	100% {
		left: 125%
	}
}

@-moz-keyframes imgShine {
	100% {
		left: 125%
	}
}

@keyframes imgShine {
	100% {
		left: 125%
	}
}

.img-circle {
	position: relative
}

.img-circle:before {
	position: absolute;
	width: 0;
	height: 0;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	z-index: 10;
	opacity: 0;
	background: rgba(255, 255, 255, .3);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.img-slide,
.img-slide>*,
.img-zoomin,
.img-zoomin>*,
.img-zoomout,
.img-zoomout>*,
[class*=img-caption] {
	position: relative
}

.img-circle:hover:before {
	-webkit-animation: circle .75s infinite;
	animation: circle .75s infinite
}

@-webkit-keyframes circle {

	0%,
	40% {
		opacity: 1
	}

	100% {
		width: 200%;
		height: 200%;
		opacity: 0
	}
}

@-moz-keyframes circle {

	0%,
	40% {
		opacity: 1
	}

	100% {
		width: 200%;
		height: 200%;
		opacity: 0
	}
}

@keyframes circle {

	0%,
	40% {
		opacity: 1
	}

	100% {
		width: 200%;
		height: 200%;
		opacity: 0
	}
}

.img-zoomin>* {
	-webkit-transition: transform .4s ease-in-out;
	-o-transition: transform .4s ease-in-out;
	transition: transform .4s ease-in-out
}

.img-zoomin:hover>* {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1)
}

.img-slide>* {
	left: 0;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}

.img-slide:hover>* {
	left: -10px
}

.img-zoomout>* {
	-webkit-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1)
}

.img-zoomout:hover>* {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1)
}

[class*=img-caption] {
	display: block;
	overflow: hidden
}

[class*=img-caption] .image {
	display: block;
	position: relative;
	font-size: 0;
	-webkit-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out
}

[class*=img-caption]>.info {
	display: block;
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
	backface-visibility: hidden
}

.img-caption-bottom>.info {
	visibility: hidden;
	opacity: 0;
	top: initial;
	bottom: 0;
	-webkit-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
	backface-visibility: hidden;
}

.img-caption-bottom:hover>.info {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0)
}

.img-caption-bottom:hover>.image {
	-webkit-transform: translateY(-50px);
	-o-transform: translateY(-50px);
	transform: translateY(-50px)
}

.img-caption-top>.info {
	opacity: 0;
	top: 0;
	bottom: initial;
	-webkit-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%)
}

.img-caption-top:hover>.info {
	opacity: 1;
	-webkit-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0)
}

.img-caption-top:hover>.image {
	-webkit-transform: translateY(50px);
	-o-transform: translateY(50px);
	transform: translateY(50px)
}

[class*=img-push] {
	display: block;
	overflow: hidden;
	position: relative
}

[class*=img-push] .image {
	display: block;
	position: relative;
	-webkit-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}

[class*=img-push] .info {
	display: block;
	position: absolute;
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}

.img-push-up .info {
	-webkit-transform: translate(0, 100%);
	-o-transform: translate(0, 100%);
	transform: translate(0, 100%)
}

.img-push-down .info,
.img-push-up:hover .image {
	-webkit-transform: translate(0, -100%);
	-o-transform: translate(0, -100%);
	transform: translate(0, -100%)
}

.img-push-down:hover .image {
	-webkit-transform: translate(0, 100%);
	-o-transform: translate(0, 100%);
	transform: translate(0, 100%)
}

.img-push-left .info {
	-webkit-transform: translate(100%, 0);
	-o-transform: translate(100%, 0);
	transform: translate(100%, 0)
}

.img-push-left:hover .image,
.img-push-right .info {
	-webkit-transform: translate(-100%, 0);
	-o-transform: translate(-100%, 0);
	transform: translate(-100%, 0)
}

.img-push-right:hover .image {
	-webkit-transform: translate(100%, 0);
	-o-transform: translate(100%, 0);
	transform: translate(100%, 0)
}

[class*=img-push]:hover .info {
	-webkit-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0)
}

@-moz-keyframes hotline-shake {
	0% {
		transform: rotate(0) scale(1) skew(1deg)
	}

	10% {
		-moz-transform: rotate(-25deg) scale(1) skew(1deg)
	}

	20% {
		-moz-transform: rotate(25deg) scale(1) skew(1deg)
	}

	30% {
		-moz-transform: rotate(-25deg) scale(1) skew(1deg)
	}

	40% {
		-moz-transform: rotate(25deg) scale(1) skew(1deg)
	}

	50% {
		-moz-transform: rotate(0) scale(1) skew(1deg)
	}

	100% {
		-moz-transform: rotate(0) scale(1) skew(1deg)
	}
}

@-webkit-keyframes hotline-shake {
	0% {
		-webkit-transform: rotate(0) scale(1) skew(1deg)
	}

	10% {
		-webkit-transform: rotate(-25deg) scale(1) skew(1deg)
	}

	20% {
		-webkit-transform: rotate(25deg) scale(1) skew(1deg)
	}

	30% {
		-webkit-transform: rotate(-25deg) scale(1) skew(1deg)
	}

	40% {
		-webkit-transform: rotate(25deg) scale(1) skew(1deg)
	}

	50% {
		-webkit-transform: rotate(0) scale(1) skew(1deg)
	}

	100% {
		-webkit-transform: rotate(0) scale(1) skew(1deg)
	}
}

@-o-keyframes hotline-shake {
	0% {
		-o-transform: rotate(0) scale(1) skew(1deg)
	}

	10% {
		-o-transform: rotate(-25deg) scale(1) skew(1deg)
	}

	20% {
		-o-transform: rotate(25deg) scale(1) skew(1deg)
	}

	30% {
		-o-transform: rotate(-25deg) scale(1) skew(1deg)
	}

	40% {
		-o-transform: rotate(25deg) scale(1) skew(1deg)
	}

	50% {
		-o-transform: rotate(0) scale(1) skew(1deg)
	}

	100% {
		-o-transform: rotate(0) scale(1) skew(1deg)
	}
}

@keyframes hotline-shake {
	0% {
		transform: rotate(0) scale(1) skew(1deg)
	}

	10% {
		transform: rotate(-25deg) scale(1) skew(1deg)
	}

	20% {
		transform: rotate(25deg) scale(1) skew(1deg)
	}

	30% {
		transform: rotate(-25deg) scale(1) skew(1deg)
	}

	40% {
		transform: rotate(25deg) scale(1) skew(1deg)
	}

	50% {
		transform: rotate(0) scale(1) skew(1deg)
	}

	100% {
		transform: rotate(0) scale(1) skew(1deg)
	}
}

@-moz-keyframes btn-blink {
	0% {
		opacity: 1.0;
	}

	50% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}

@-webkit-keyframes btn-blink {
	0% {
		opacity: 1.0;
	}

	50% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}

@keyframes btn-blink {
	0% {
		opacity: 1.0;
	}

	50% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}

/* ----------------------- End Hiệu ứng hover ảnh ----------------------- */