.search-content {
    background-image: url("img/bg-taodonhang.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;

    .search {
        &__header {
            text-align: center;
            margin-bottom: 50px;

            .heading {
                font-size: 48px;
                font-weight: 600;
                color: $color-f;

                @include respond (max-414) {
                    font-size: 24px;
                }
            }

            @include respond (max-414) {
                margin-bottom: 25px;
            }
        }

        &__body {
            background-color: #fff;
            padding: 20px;

            .title {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 25px;
            }

            .label {
                font-size: 18px;
                margin-bottom: 5px;

                @include respond (max-414) {
                    display: inline-block;
                }
            }

            .info-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px 0;

                .info {
                    display: flex;
                    align-items: center;

                    .form-control {
                        width: 100px;
                        margin: 0 15px;

                        @include respond (max-414) {
                            width: 80%;
                            margin: 0 5px 0 0;
                            display: inline-block;
                        }
                    }

                    @include respond (max-414) {
                        display: block;
                        margin-bottom: 15px;
                    }
                }

                @include respond (max-414) {
                    display: unset;
                }
            }

            .box-button {
                text-align: center;

                .btn {
                    width: 125px;
                    font-size: 18px;
                }
            }

            .method-list {
                margin-bottom: 20px;
                display: grid;
                grid-template-columns: repeat(10, 1fr);
                grid-gap: 2px;

                .method {
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 15px;

                    img {
                        display: block;
                        text-align: center;
                        margin: 0 auto;
                        height: 40px;
                    }

                    .text {
                        display: block;
                        font-size: 12px;
                        text-align: center;
                        height: 40px;
                        color: $color-pri;
                    }

                    &:hover {
                        border: 1px solid $color-sec;

                        .text {
                            color: $color-sec;
                        }
                    }
                }

                @include respond (max-414) {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }

    @include respond (max-414) {
        padding: 25px 0;
    }
}