.btn {
    padding: 8px;

    &.btn-sec {
        background-color: $color-sec;

        &:hover {
            color: $color-f !important;
        }
    }

    &.btn-bas {
        background-color: #fff;

        &:hover {
            color: $color-sec !important;
        }
    }

    &.btn-dar {
        color: $color-sec;
        background-color: #212529;

        &:hover {
            color: #212529;
            background-color: $color-sec;
        }
    }
}

.row.row-mg-0 {
    margin-left: 0px;
    margin-right: 0px;

    .col-pd-0 {
        padding-right: 0px;
        padding-left: 0px;
    }
}


.active-pc {
    display: block !important;

    @include respond (max-414) {
        display: none !important;
    }
}

.active-mb {
    display: none !important;

    @include respond (max-414) {
        display: block !important;
    }
}

.dp-block {
    display: block !important;
}

.dp-none {
    display: none !important;
}