.footer {
    padding: 50px 0 20px 0;

    .row {
        >div {
            @include respond (max-414) {
                margin-bottom: 35px;
            }
        }
    }

    .footer-contact {
        .logo {
            margin-bottom: 15px;

            .image {
                width: 130px;
                margin-bottom: 10px;
            }
        }

        .list-contact {
            margin-bottom: 15px;

            .contact {
                margin-bottom: 5px;
            }
        }

        .copyright {
            margin-bottom: 0;
        }
    }

    .footer-common {
        &__title {
            font-weight: 600;
            // display: inline-block;
            border-bottom: 3px solid $color-sec;
            padding-bottom: 3px;
            margin-bottom: 15px;
        }

        &__menu {
            .footer-menu {
                display: block;
                color: #343A40;

                &:hover {
                    color: $color-sec;
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .footer-social {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        .icon {
            img {
                display: inline-block !important;
                height: 33px;
                width: 33px;
                // border-radius: 50%;
                margin-right: 20px;
            }
        }
    }

    .form-input {
        margin-bottom: 15px;

        input {
            border: 1px solid $color-sec;
            border-radius: 5px;
            width: 100%;
            padding: 10px 8px;
        }
    }

    .thumb-os {
        display: flex;

        .icon-os {
            img {}
        }
    }
}