.header-pc-content {
    background-color: $color-sec;
    padding: 8px 0;

    .header-pc {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__common {
            .item {
                color: $color-pri;
                display: inline-block;

                &:not(:last-child) {
                    padding-right: 10px;
                    margin-right: 10px;
                    border-right: 1px solid $color-pri;
                }
            }
        }
    }
}


.header-mb {
    #menu-container {
        .panel-head-mb {
            padding: 15px 15px 15px 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $color-pri;

            #menu-wrapper {
                overflow: hidden;
                max-width: 100%;
                cursor: pointer;

                #hamburger-menu {
                    position: relative;
                    width: 25px;
                    height: 20px;

                    span {
                        opacity: 1;
                        left: 0;
                        display: block;
                        width: 100%;
                        height: 2px;
                        border-radius: 10px;
                        color: white;
                        background-color: white;
                        position: absolute;
                        transform: rotate(0deg);
                        transition: 0.4s ease-in-out;

                        &:nth-child(1) {
                            top: 0;
                        }

                        &:nth-child(2) {
                            top: 9px;
                        }

                        &:nth-child(3) {
                            top: 18px;
                        }
                    }

                    &.open span:nth-child(1) {
                        transform: translateY(9px) rotate(135deg);
                    }

                    &.open span:nth-child(2) {
                        opacity: 0;
                        transform: translateX(-60px);
                    }

                    &.open span:nth-child(3) {
                        transform: translateY(-9px) rotate(-135deg);
                    }
                }
            }

            .logo-mb {
                // margin-left: 35px;

                .image {
                    // width: 175px;
                    height: 25px;
                }
            }

            .button,
            .btn {
                padding: 0;
                font-size: 14px;
                color: white;

                &:hover {
                    outline: none;
                    background-color: transparent;
                }
            }

            .logout-mb {
                .logout-content {
                    display: flex;
                    align-items: center;

                    .avatar {
                        margin-right: 10px;

                        .image img {
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                        }
                    }

                    .box-logout {
                        a {
                            color: #fff;
                            font-size: 12px;
                        }
                    }
                }

                &.logout-index {
                    .box-logout {
                        a {
                            color: #fff;

                            &:hover {
                                color: $color-hover;
                            }
                        }
                    }
                }
            }
        }

        .panel-body-mb {
            .menu-list {
                padding-left: 0;
                display: block;
                position: absolute;
                height: 100%;
                width: 100%;
                max-width: 450px;
                background: white;
                z-index: 999;
                overflow-y: auto;
                overflow-x: hidden;
                left: -100%;

                li {
                    &.search-mb {
                        position: relative;
                        padding: 15px 15px 15px 15px;
                        border-bottom: 1px solid #dbdcd2;

                        svg {
                            position: absolute;
                            top: 24px;
                            left: 25px;
                        }

                        .input-search {
                            width: 100%;
                            padding: 7.5px 10px 7.5px 40px;
                            border-radius: 5px;
                            border: 1px solid #dbdbdb;
                        }
                    }

                    &.toggle {
                        font-size: 16px;
                        margin: 0 15px;
                        padding: 15px 0;
                        text-transform: uppercase;
                        border-bottom: 1px solid #dbdcd2;

                        .menu-link {
                            color: #000;
                        }

                        &.accordion-toggle {
                            cursor: pointer;
                            font-size: 16px;
                            position: relative;
                            letter-spacing: 1px;

                            &.active-tab {
                                background: white;
                                transition: all 0.3s ease;
                            }

                            a {

                                &:before,
                                &:after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    top: 50%;
                                    right: 10px;
                                    width: 15px;
                                    height: 2px;
                                    margin-top: -1px;
                                    background-color: #5a5858;
                                    transform-origin: 50% 50%;
                                    transition: all 0.3s ease-out;
                                }

                                &:before {
                                    transform: rotate(-90deg);
                                    opacity: 1;
                                    z-index: 2;
                                }

                                &.active:before {
                                    transform: rotate(0deg);
                                    background: #5a5858 !important;
                                }

                                &.active:after {
                                    transform: rotate(180deg);
                                    background: #5a5858 !important;
                                    opacity: 0;
                                }
                            }
                        }
                    }

                    &.menu-active-mb {
                        .menu-link {
                            color: $color-hover;
                        }
                    }
                }

                .menu-submenu {
                    margin: 0 40px;

                    &.accordion-content {
                        display: none;
                    }

                    li {
                        padding: 10px;
                        border-bottom: 1px solid #dbdcd2;

                        .head {
                            color: #000;
                        }
                    }
                }

                .flag-list {
                    padding: 15px;
                }
            }
        }
    }
}