.navigation-content {
    background-color: $color-2;

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__left {
            .logo {
                color: #fff;
                text-transform: uppercase;
                font-size: 30px;
            }
        }

        &__center {
            .menu-main {
                display: flex;
                align-items: center;

                .menu-child-pri {
                    position: relative;

                    &__title {
                        color: $color-f;
                        font-size: 17px;
                        padding: 30px 0;
                        display: block;
                        border-bottom: 3px solid $color-2;
                    }

                    &__sub {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        display: none;
                        min-width: 250px;

                        .menu-child-sec {
                            &__title {
                                display: block;
                                color: $color-f;
                                padding: 8px 10px;
                                border-bottom: 1px solid $color-sec;
                                background-color: #2f302f;

                                &:hover {
                                    background-color: #222;
                                }
                            }
                        }
                    }

                    &:hover {
                        .menu-child-pri__title {
                            border-bottom: 3px solid $color-sec;
                        }

                        .menu-child-pri__sub {
                            display: block;
                        }
                    }

                    &:not(:last-child) {
                        margin-right: 30px;
                    }
                }
            }
        }

        &__right {
            padding: 8px 0;

            .btn {
                width: 250px;
                color: $color-pri;
                display: block;

                &:first-child {
                    margin-bottom: 5px;
                }
            }
        }
    }
}