.about-content {
    padding: 30px 0;
    // background: linear-gradient(to right, $color-pri 0%, $color-pri 50%, $color-pri 50%, #FCD804 50%, #FCD804 100%);
    background-color: $color-pri;

    .container {
        @include respond (max-414) {
            padding: 0;
        }
    }

    .about {
        align-items: center;
    }

    .about-left {
        text-align: center;
        // padding-right: 50px;

        .heading {
            color: $color-f;
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 8px;

            span {
                color: $color-sec;
                font-size: 24px;
                font-weight: 600;
            }
        }

        .sub-heading {
            color: $color-f;
            font-size: 15px;
            margin-bottom: 50px;
        }

        .item-list {
            // margin-bottom: 20px;

            .item {
                margin-bottom: 30px;

                .thumb {
                    margin-bottom: 15px;

                    .image {
                        height: 100px;
                    }
                }

                .info {
                    color: $color-f;
                    font-size: 16px;
                }
            }
        }

        .box-button {
            .btn {
                font-size: 17px;
                width: 200px;

                svg {
                    margin-left: 15px;
                }
            }
        }

        @include respond (max-414) {
            background: $color-pri;
            padding: 15px;
        }
    }

    .about-right {
        padding-left: 50px;

        .item-list {
            .item {
                display: flex;
                align-items: center;

                .icon {
                    margin-right: 15px;

                    img {
                        border-radius: 50%;
                    }
                }

                .info {
                    .title {
                        font-size: 24px;
                        font-weight: 600;
                        margin-bottom: 5px;

                        @include respond (max-414) {
                            font-size: 18px;
                        }
                    }

                    .desc {
                        p {
                            font-size: 17px;
                            margin-bottom: 0px;

                            @include respond (max-414) {
                                font-size: 14px;
                            }
                        }
                    }
                }

                &:not(:last-child) {
                    margin-bottom: 25px;
                }
            }
        }

        @include respond (max-414) {
            padding: 15px;
            background-color: $color-sec;
        }
    }

    @include respond (max-414) {
        background: #fff;
    }
}