.banner-content {
    .thumb {
        position: relative;
        // text-align: center;
        background-image: url(img/banner-2.jpg), ;
        background-image: linear-gradient(#000000c7), url(img/banner-2.jpg);
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        // .image {

        // }

        .overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .heading {
                font-size: 40px;
                margin-bottom: 10px;
                font-weight: 600;
                color: $color-f;
                text-align: center;

                @include respond (max-414) {
                    font-size: 35px;
                    margin-bottom: 30px;
                }
            }

            .sub-heading {
                color: #ffffff;
                margin-bottom: 40px;
                font-size: 22px;
                text-align: center;
            }

            .service-list {
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                .service {
                    width: 160px;
                    height: 120px;
                    background-color: $color-f;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    &:before {
                        position: absolute;
                        content: '';
                        bottom: 100%;
                        background-color: #E5E5E5;
                        height: 28px;
                        width: 160px;
                        left: 0px;

                        @include respond (max-414) {
                            width: 110px;
                            left: 0;
                        }
                    }

                    .service-link {
                        padding: 20px;
                        text-align: center;

                        .icon {
                            margin: 0 auto 15px auto;
                            text-align: center;
                        }

                        .icon-pri {
                            display: block;
                        }

                        .icon-sec {
                            display: none;
                        }

                        span {
                            color: $color-pri;

                            @include respond (max-414) {
                                font-size: 12px;
                            }
                        }

                        @include respond (max-414) {
                            padding: 0;
                        }
                    }

                    &:nth-child(2) {
                        // height: 140px;
                        // background-color: $color-sec;
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); // box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.25);
                        z-index: 2;

                        &:before {
                            border-left: 1px solid #ccc;
                            border-right: 1px solid #ccc;
                        }

                        @include respond (max-414) {
                            height: 110px;
                        }
                    }

                    &:hover {
                        background-color: $color-sec;
                        // transition: .25s;

                        .icon-pri {
                            display: none;
                        }

                        .icon-sec {
                            display: block;
                        }

                    }

                    @include respond (max-414) {
                        width: 110px;
                        height: 110px;
                    }
                }

                @include respond (max-414) {
                    margin-bottom: 5px;
                }
            }

            .form-search {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .input-text {
                    padding: 8px 12px;
                    width: 500px;
                    height: 42px;
                    margin-right: 10px;

                    @include respond (max-414) {
                        width: 250px;
                        margin-right: 0px;
                    }
                }

                .btn {
                    height: 42px;
                    border-radius: 0;
                    width: 100px;
                }
            }

            .guider {
                p {
                    margin-bottom: 0px;
                    color: $color-f;
                    font-size: 12px;
                }
            }
        }
    }
}