.data-content {
    padding: 50px 0;

    .data {
        .item-list {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .item {
                text-align: center;

                .number {
                    font-size: 48px;
                    font-weight: 500;
                    margin-bottom: 10px;

                    @include respond (max-414) {
                        margin-bottom: 0;
                    }
                }

                .text {
                    font-size: 24px;
                }

                @include respond (max-414) {
                    margin-bottom: 50px;
                }
            }

            @include respond (max-414) {
                display: unset;
            }
        }
    }

    @include respond (max-414) {
        padding: 25px 0;
    }
}