.feedback-content {
    margin-bottom: 15px;

    .feedback {
        &__header {
            text-align: center;
            margin-bottom: 50px;

            .heading {
                font-size: 24px;
                display: inline-block;
                border-top: 1px solid #d5d5d5;
                padding: 48px 0;
                position: relative;

                strong {
                    font-size: 24px;
                }

                &:before {
                    position: absolute;
                    content: '';
                    background-color: $color-sec;
                    width: 25%;
                    height: 9px;
                    top: -4.5px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            @include respond (max-414) {
                margin-bottom: 0px;
            }
        }

        &__body {
            .item {
                position: relative;
                z-index: 1;

                .circle {
                    position: absolute;
                    content: '';
                    left: 50%;
                    top: 20px;
                    // transform: translate(-50%, -50%);
                    transform: translateX(-50%);
                    background-color: transparent;
                    border: 15px solid $color-f;
                    border-radius: 50%;
                    width: 215px;
                    height: 215px;
                    z-index: 999;
                    box-shadow: 1px 1px 15px 1px #fff;
                }

                .thumb {
                    position: absolute;
                    left: 50%;
                    top: 20px;
                    // transform: translate(-50%, -50%);
                    transform: translateX(-50%);
                    z-index: 999;

                    .image {
                        // height: 280px;
                        height: 215px;
                    }
                }

                .info {
                    background-color: $color-sec;
                    padding: 250px 15px 15px 15px;
                    min-height: 360px;

                    .title {
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 10px;
                        text-align: center;
                    }

                    .sub-title {
                        font-size: 16px;
                        text-align: center;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    .desc {
                        min-height: 220px;
                        font-size: 16px;
                        margin-bottom: 0;
                        text-align: justify;
                    }
                }

                &:hover {
                    .circle {
                        box-shadow: 1px 1px 15px 1px #fcd804;
                    }
                }
            }
        }
    }
}