.hotline-content {
    padding: 50px 0;
    text-align: center;
    background-image: url("img/homepage/hotline-bg.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .heading {
        color: $color-f;
        font-size: 48px;
        font-weight: 600;
        margin-bottom: 10px;

        @include respond (max-414) {
            font-size: 25px;
        }
    }

    .sub-heading-1 {
        color: #fff;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .sub-heading-2 {
        font-size: 20px;
        color: $color-sec;
        margin-bottom: 30px;
    }

    .toolbox {
        .btn {
            margin: 0 15px;
            width: 350px;
            font-size: 18px;
            padding: 10px;

            svg {
                margin-right: 10px;
            }

            @include respond (max-414) {
                display: block;
                width: 100%;
                margin: 0 0 15px 0;
            }
        }
    }
}