.service-content {
    .service-list {
        margin-bottom: 15px;

        .row {
            justify-content: center;
        }

        .col-lg-3 {
            .service {
                background-color: $color-f;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 0;
                position: relative;

                .service-link {
                    text-align: center;
                    padding: 0 15px;

                    .icon {
                        margin: 0 auto 15px auto;
                        text-align: center;
                    }

                    .icon-pri {
                        display: block;
                    }

                    .icon-sec {
                        display: none;
                    }

                    span {
                        color: $color-pri;
                        // text-align: center;
                    }
                }

                &:hover {
                    background-color: #fcdf36;

                    .icon-pri {
                        display: none;
                    }

                    .icon-sec {
                        display: block;
                    }

                }

                @include respond (max-414) {
                    border-bottom: 1px solid #ccc;
                }
            }

            &:not(:last-child) {
                .service {
                    &:before {
                        position: absolute;
                        content: '';
                        right: 0;
                        top: 20px;
                        height: 106px;
                        width: 1px;
                        background-color: #ccc;

                        @include respond (max-414) {
                            display: none;
                        }
                    }

                    &:hover {
                        &:before {
                            background-color: #fcdf36;
                        }
                    }
                }
            }
        }
    }

    .service-text {
        text-align: center;

        svg {
            font-size: 30px;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;

            strong {
                font-size: 18px;

            }
        }
    }
}